html{
    scroll-behavior: smooth;
}
#mainPic{
    height: 120px;
    margin: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

body{
    margin:0;
    background-color:#0b0f14;
    color:white;
}

.navigation{
    margin-top: 0px;
    margin-inline: 85px ;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 18px;
    font-family: "Saira";
}

.navigation:hover{
    text-decoration: underline;
    color: hsl(21, 98%, 58%);
}

#hero{
    position:relative;
    height:100vh;
    overflow:hidden;
}

#hero video{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
}

#hero::after{
    content:"";
    position:absolute;
    inset:0;
    background:hsl(0, 0%, 0%, 0.55);
}

#heroOverlay{
    position:relative;
    z-index:2;

    height:100%;

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

.subSections{
    margin:0;
    font-family: "Oswald";
    font-size: 28px;
    color: hsl(15, 3%, 72%);
}

.infoSection{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
    padding:80px 60px;
}

.reverse{
    flex-direction:row-reverse;
}

.links{
    color: inherit;
    color: hsl(21, 98%, 58%);
}

.links:hover{
    color: hsl(0, 0%, 100%);
}

.textBox{
    flex:1;
}

.content{
    background-color:hsl(0, 0%, 0%);
    padding:40px;
}

p.text{
    margin-top: 0px;
    font-family: "Saira";
    color: hsl(0, 0%, 100%);
    font-size: 16px;
}

.imageBox{
    flex:1;
    display:flex;
    gap:20px;
    justify-content:center;
    align-items:center;
}

.imageBox img{
    transition: transform 0.3s ease;
    width:45%;
    height:auto;
    border-radius:12px;
    object-fit:cover;
}

.imageBox img:hover{
    transform: scale(1.05);
}

.bottom{
    background-color:hsl(21, 98%, 58%);
    padding:40px 60px;
}

.bSections{
    margin-inline: 65px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 18px;
    font-family: "Saira";
}

.footerRow{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:40px;
}

.footerBottom{
    margin-top:30px;
    padding-top:15px;
    border-top:1px solid hsla(0, 0%, 100%, 0.3);

    display:flex;
    justify-content:center;
    gap:40px;
}

.footerBottom a{
    color:hsl(0, 0%, 100%);
    text-decoration:none;
    font-family:"Saira";
}

.footerBottom a:hover{
    color: hsl(240, 100%, 20%);
}

.icons{
    color: inherit;
    font-size: 16px;
}

.icons:hover{
    color: inherit;
    color: hsl(240, 100%, 20%);

}

.map-container{
    margin-top:10px;
}

.map-container iframe{
    width:250px;
    height:150px;
    border:0;
    border-radius:10px;
}
